<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="footer-link">
          <h5>Links</h5>
          <%= link_to 'Home' %><br>
          <%= link_to 'About' %><br>
          <%= link_to 'Blog' %><br>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="footer-link">
          <h5>Blog</h5>
          <%= link_to 'What employers look for' %><br>
          <%= link_to 'Why continuously learn?' %><br>
          <%= link_to 'Do I need a degree?' %><br>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="footer-link">
          <h5>Online Courses</h5>
          <%= link_to 'Coursera' %><br>
          <%= link_to 'Codeacademy' %><br>
          <%= link_to 'Tutorials' %><br>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <div class="footer-link">
          <h5>Others</h5>
          <%= link_to 'Contact Us' %><br>
          <%= link_to 'Privacy Policy' %><br>
          <%= link_to 'Terms & Conditions' %><br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr>
        <div class="copy text-center">
          &copy; 2013 <a href="#">My vDegree</a> - Virtual Degree for Continuous Learning</a>
        </div>
      </div>
    </div>
  </div>
</footer>