<header class="top" style="margin-bottom:0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="logo">
          <h1><a href="/">My vDegree<small style="color:white; font-size:40%;">  beta</small></a></h1>
        </div>
      </div>
      <div class="navigation pull-right col-md-6 col-lg-6">
        <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Facebook', user_omniauth_authorize_path(:facebook) %>
        <%= link_to 'Sign up', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
        </div>
    </div>
  </div>
</header>